@model ControlInventarioModel.Ubicacion

<h1>Detalle</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoGondola)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoGondola)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nivel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nivel)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Volver</a>
</div>
